/* Import Google font - poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #4a4a4a;
    min-height: 100vh;
}
.wrapper {
    max-width: 440px;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
}
.wrapper img{
    max-width: 102px;
}
.wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
}
.wrapper .content{
    width: 100%;
    justify-content: space-between;
}
.content {
    display: flex;
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}

.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 -5px);
}
.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}
.wrapper button{
    width: 100%;
    outline: none;
    border: none;
    margin-top: 20px;
    font: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: #4a984a;
    color: white;
}
